{% extends "base.html" %}

{% block title %}
    <title>Login to Snips</title>
{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="/static/css/auth.css">
{% endblock head %}

{% block body %}
    <div class="auth-widget">
        <img src="/static/images/ahsoka-rebel.svg" alt="" class="auth-logo">
        <h3 class="auth-type-title">Log in</h3>
        {% if response_message %}
            <p class="auth-feedback-message">{{ response_message }}</p>
        {% elif authorized %}
            <p class="auth-feedback-message">You are already logged in as {{ user }}</p>
        {% elif not response_message %}
            <p class="auth-feedback-message">&hairsp;</p>
        {% endif %}
        <form action="{{ url_for('login', redirect_to=redirect_to) }}" method="post" class="auth-form">
            <input type="text" name="username" class="input2" placeholder="username">
            <input type="password" name="password" class="input2" placeholder="password">
            <input type="submit" value="Log in" class="button3">
        </form>
        <a href="/register/" class="auth-switch-link">Don't have an account? Register.</a>
    </div>
{% endblock body %}