@import url("/static/css/styles.css");


body {
    padding-top: 75px;
}

#navbar {
    display: grid;
    grid-template-columns: 20% 10% repeat(2, 1fr) 10% 20%;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 75px;
    z-index: 2;
}

#navbar-bg {
    height: 100%;
    z-index: -1;
    grid-area: 1 / 1 / 2 / 7;
    background: repeating-linear-gradient(45deg, var(--white) 0%, 
                    var(--white) 30%, var(--blue) 30%, 
                    var(--blue) 70%, var(--white) 70%);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo-section {
    grid-area: 1 / 1 / 2 / 2;
    gap: 1vw;
    place-self: center;
    width: 100%;
    height: 75px;
}

#style-selection-section {
    grid-area: 1 / 2 / 2 / 3;
    place-self: center;
    width: 80%;
    height: 75px;
}

#nav-search-section {
    grid-area: 1 / 3 / 2 / 5;
    place-self: center;
    width: 90%;
    height: 75px;
}

#nav-share-section {
    grid-area: 1 / 5 / 2 / 6;
    place-self: center;
    width: 100%;
    height: 75px;
}

#nav-auth-section {
    grid-area: 1 / 6 / 2 / 7;
    place-self: center;
    width: 100%;
    height: 75px;
    gap: 1vw;
}

#nav-logo {
    height: 90%;
    width: auto;
}

#nav-title {
    font-size: min(2vw, 2rem);
    color: var(--black2);
}

#styles-dropdown {
    width: 60%;
}

#nav-search {
    display: flex;
    justify-content: stretch;
    align-items: center;
    width: 100%;
    height: 50%;
    background-color: var(--white);
    border-radius: 20px;
}

#nav-search-bar {
    width: 100%;
    height: 90%;
    background-color: var(--white);
    border: none;
}

#nav-search-form {
    flex-grow: 1;
    padding-right: 1rem;
    margin: 0;
}

#nav-search-bar:focus {
    outline: none;
}

#nav-search-icon {
    height: 100%;
    width: auto;
}

#nav-profile {
    width: 20%;
}

#unauth-user-icon {
    display: none;
}



@media((width <= 750px) or (orientation: portrait)) {
    #navbar {
        display: grid;
        grid-template-columns: 20% 10% repeat(2, 1fr) 10% 20%;
        grid-template-rows: 2fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    #navbar-bg {
        background: repeating-linear-gradient(45deg, var(--white) 0%, 
                                            var(--white) 25%, var(--blue) 25%, 
                                            var(--blue) 75%, var(--white) 75%);
    }

    #nav-search-section {
        grid-area: 2 / 1 / 3 / 7;
    }

    #style-selection-section {
        grid-area: 1 / 3 / 2 / 4;
    }

    #nav-share-section {
        grid-area: 1 / 4 / 2 / 5;
    }

    #nav-title {
        display: none !important;
    }
    
    #nav-profile {
        width: 20%;
    }

    #unauth-user-icon {
        display: unset;
    }

    #sign-in-button, #sign-up-button {
        display: none !important;
    }
}