@import url("/static/css/styles.css");

#post-container {
    height: 100%;
    flex-direction: column;
    padding-top: 2vh;
    justify-content: start;
    gap: 2vh;
}

#comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80ch;
    max-width: 80vw;
    background-color: var(--dark-transparent);
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 20px;
}



