@import url("/static/css/styles.css");

body {
    background: linear-gradient(135deg, var(--white) 0%,
                var(--white) 5%, var(--orange) 5%, 
                var(--orange) 15%, var(--blue) 15%, 
                var(--blue) 30%, var(--black2) 30%);
}

#logo {
    width: 20vh;
}

#register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#register-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light-transparent);
    border: 1px solid var(--white);
}