@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@100&display=swap');

:root {
    --black: #080708;
    --black2: #262322;
    --black3: #343434;
    --gray:#cecccc;
    --white: #f4f9f3;
    --orange: #fd6953;
    --blue: #3341a0;
    --light-transparent: rgba(255, 255, 255, 0.4);
    --dark-transparent: rgba(0, 0, 0, 0.6);
    color: var(--white);
    font-family: 'Pathway Extreme', sans-serif;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
}

a img {
    height: 100%;
}

a {
    display: block;
    text-decoration: none;
}

::placeholder {
    color: inherit;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical {
    flex-direction: column;
}

.occupy {
    width: 100%;
    height: 100%;
}

.hide {
    display: none !important;
}

.voted {
    stroke-width: 4;
}

.button1, .button2, .button3 {
    font-size: 1rem;
    width: fit-content;
    height: auto;
    border-radius: 10px;
    padding: 0.5rem;
    transition: 300ms;
}

.button1:hover, .button2:hover, .button3:hover {
    transform: scale(0.98);
}

.input1, .input2 {
    font-size: 1rem;
    width: fit-content;
    height: auto;
    border-radius: 10px;
    transition: 300ms;
}

.input2 {
    color: var(--white);
    background-color: var(--blue);
    border: 1px solid var(--blue);
    outline: none;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: fit-content;
    max-width: 90ch; */
    width: 80ch;
    max-width: 80vw;
    background-color: var(--dark-transparent);
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 20px;
}

.post-header {
    gap: 2vw;
    justify-content: space-between;
}

.post-title {
    font-size: 1.7rem;
    text-align: center;
}

.publisher-name {
    font-size: 1.5rem;
    margin: 0;
}

.snippet {
    display: block;
    min-width: 30ch;
    width: fit-content;
    max-width: 80ch;
    height: fit-content;
    box-sizing: border-box;
    border: 3px solid var(--gray);
    border-radius: 5px;
}

.description-outer {
    /* display: block;  */
    width: 100%;
    /* max-width: 80ch;
    box-sizing: border-box; */
    height: 0;
    position: relative;
    justify-content: start;
}

.description-inner {
    width: 100%;
    position: relative;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: start;
}

.description {
    overflow-x: hidden;
    white-space: nowrap;
    margin: 0.3em;
}

.snippet pre {
    margin: 0;
    width: inherit;
    height: inherit;
    /* white-space: break-spaces; */
}

.snippet pre code {
    display: block;
    min-width: 30ch;
    width: fit-content;
    max-width: 80ch;
    /* box-sizing: border-box; */
    height: fit-content;
    max-height: 15em;
    padding: 1em;
    overflow-y: auto;
    overflow-x: auto;
}

.post-footer {
    width: 100%;
    /* justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1vw;
    grid-row-gap: 0px;
}

.post-footer-left {
    grid-area: 1 / 1 / 2 / 2;
    justify-content: start;
    gap: 1vw;
}

.post-footer-center {
    grid-area: 1 / 2 / 2 / 3;
    gap: 1vw;
}

.post-footer-right {
    grid-area: 1 / 3 / 2 / 4;
    justify-content: end;
    gap: 1vw;
}

@media(orientation: landscape) {
    .snippet pre code {
        font-size: 1vw;
    }

    .description {
        font-size: 0.75vw;
    }
}

@media(orientation: portrait) {
    .snippet pre code {
        font-size: 2vw;
    }

    .description {
        font-size: 1.5vw;
    }
}

.widget {
    border: 1px solid var(--white);
    font-size: 1.3rem;
    color: var(--white);
    background-color: var(--blue);
    outline: none;
    width: 100%;
}

.container {
    background-color: var(--dark-transparent);
    padding: 1vh 1vw 1vh 1vw;
    border-radius: 20px;
}

.comment-box {
    width: 100%;
}

.comment-box form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.comment-textarea {
    width: 80ch;
    max-width: 100%;
}

.comment-box-footer {
    justify-content: space-between;
    width: 100%;
}

.comment {
    width: 100%;
    flex-direction: column;
}

.comment-content {
    width: 100%;
    gap: 1vw;
    justify-content: flex-start;
}

.comment-footer {
    width: 100%;
    justify-content: space-between;
}

::-webkit-scrollbar-track
{
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar
{
  width: 7px;
  height: 7px;
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb
{
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.2);
}