{% extends "navbar.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/home.css">
{% endblock head %}

{% block body %}
{{ super() }}

<div id="feed">
    {% for post in posts %}
        <div class="post">
            <div class="post-header">
                <p class="post-title">{{ post["title"] }}</p>
            </div>
            <div class="snippet">
                {% if post["programming_language"] != "auto" %}
                    <pre><code class="snippet-container language-{{ post['programming_language'] }}">
                {% else %}
                    <pre><code class="snippet-container">
                {% endif %}     
{{ post["content"] }}
                </code></pre>
                <div class="description-outer">
                    <div class="description-inner">
                        {{ post["description"] }}
                    </div>
                </div>
            </div>
            <div class="post-footer">
                <div class="post-footer-left">
                    <div class="voting-buttons-container">
                        <a href="/upvote/{{ post['id'] }}"><i data-feather="arrow-up"></i></a>
                        {{ post["votes"] }}
                        <a href="/downvote/{{ post['id'] }}"><i data-feather="arrow-down"></i></a>
                    </div>
                    <div class="comments-button-container">
                        <a href="/comments/{{ post['id'] }}"><i data-feather="message-square"></i> Comments</a>
                    </div>
                </div>
                <div class="post-footer-center">
                    <p class="publisher-name">{{ id2username( post["publisher_id"] ) }}</p>
                </div>
                <div class="post-footer-right">
                    <div class="publication-date-container">
                        <p>published on {{ post["pub_date"] }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
    
{% endblock body %}