{% extends "base.html" %}

{% block title %}
    <title>Login to Snips</title>
{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="/static/css/auth.css">
{% endblock head %}

{% block body %}
    <div class="auth-widget">
        <img src="/static/images/ahsoka-rebel.svg" alt="" class="auth-logo">
        <h3 class="auth-type-title">Log in</h3>
        {% if message %}
                <p class="auth-feedback-message">{{ message }}</p>
        {% endif %}
        <form action="/login/" method="post" class="auth-form">
            <input type="text" name="username" class="auth-name-input input2" placeholder="username">
            <input type="password" name="password" class="auth-pass-input input2" placeholder="password">
            <input type="submit" value="Log in" class="auth-submit-button button3">
        </form>
        <a href="/register/" class="auth-switch-link">Don't have an account? Register.</a>
    </div>
{% endblock body %}