{% extends "base.html" %}

{% block title %}
    <title>Login to Snips</title>
{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="/static/css/auth.css">
{% endblock head %}

{% block body %}
    <div class="auth-box">
        <img src="/static/images/ahsoka-rebel.svg" alt="" class="logo">
        <h3>Log in</h3>
        <form action="/login/" method="post">
            <input type="text" name="username" class="widget">
            <input type="text" name="password" class="widget">
            {% if message %}
                {% if authorized %}
                    <p class="authorized">{{ message }}</p>
                {% elif not authorized %}
                    <p class="unauthorized">{{ message }}</p>
                {% endif %}
            {% endif %}
            <input type="submit" value="Log in" class="widget">
        </form>
        <a href="/register/">Don't have an account? Register.</a>
    </div>

{% endblock body %}