{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/navbar.css">
    <script src="/static/js/styles.js"></script>
{% endblock head %}

{% block body %}
    <nav id="navbar">
        <div id="navbar-bg"></div>
        <div id="logo-section">
            <a href="/" id="nav-logo" class="icon-anchor"></a>
            <a href="/" id="nav-title">&lt/SNIPS&gt</a>
            <!-- <img id=nav-logo src="/static/images/ahsoka-rebel.svg" alt="">
            <h1 id="nav-title">&lt/SNIPS&gt</h1> -->
        </div>
        <div id="style-selection-section">
            <select id="styles-dropdown"></select>
        </div>
        <div id="nav-search-section">
            <div id="nav-search" class="hljs">
                <i data-feather="search"></i>
                <form action="" method="get" id="nav-search-form" class="occupy center">
                    <input type="text" name="search-bar" id="nav-search-bar" class="hljs" placeholder="search...">
                </form>
            </div>
        </div>
        <div id="nav-share-section">
            <button id="share-snippets-button" class="button1">Share</button>
        </div>
        {% if authorized %}
            <div id="nav-auth-section">
                <h1 id="auth-user-name">{{ user }}</h1>
                <!-- <a href="/logout/">log out</a> -->
                <button id="log-out-button" class="button2">log out</button>
            </div>
        {% elif not authorized %}
            <div id="nav-auth-section">
                <button id="sign-in-button" class="button1">sign in</button>
                <button id="sign-up-button" class="button2">register</button>
                <img id="unauth-user-icon" src="/static/images/user.svg" alt="">
            </div>
        {% endif %}
        </div>
    </nav>
{% endblock body %}

{% block scripts %}
    {{ super() }}
    <script src="/static/js/navbar.js"></script>
    
{% endblock scripts %}