{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/navbar.css">
    <script src="/static/js/styles.js"></script>
{% endblock head %}

{% block body %}
    <nav id="navbar">
        <div id="navbar-bg"></div>
        <div id="logo-section">
            <img id=nav-logo src="/static/images/ahsoka-rebel.svg" alt="">
            <h1 id="nav-title">&lt/SNIPS&gt</h1>
        </div>
        <div id="style-selection-section">
            <select id="styles-dropdown"></select>
        </div>
        <div id="nav-search-section">
            <div id="nav-search">
                <img id="nav-search-icon" src="/static/images/search.svg" alt="">
                <form action="" method="get" id="nav-search-form" class="occupy center">
                    <input type="text" name="search-bar" id="nav-search-bar" placeholder="search...">
                </form>
            </div>
        </div>
        <div id="nav-share-section">
            <button id="share-snippets-button" class="button1">Share</button>
        </div>
        {% if authorized %}
            <div id="nav-auth-section">
                <img id="auth-user-icon" src="/static/images/user.svg" alt="">
                <h1 id="auth-user-name">{{ user }}</h1>
            </div>
        {% elif not authorized %}
            <div id="nav-auth-section">
                <button id="sign-in-button" class="button1">sign in</button>
                <button id="sign-up-button" class="button2">register</button>
                <img id="unauth-user-icon" src="/static/images/user.svg" alt="">
            </div>
        {% endif %}
        </div>
    </nav>
{% endblock body %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script src="/static/js/navbar.js"></script>
{% endblock scripts %}