{% extends "navbar.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/post.css">
{% endblock head %}

{% block body %}
{{ super() }}
<div id="post-container">
    <div class="post">
        <div class="post-header">
            <p class="post-title">{{ post["title"] }}</p>
        </div>
        <div class="snippet">
            {% if post["programming_language"] != "auto" %}
                <pre><code class="snippet-container language-{{ post['programming_language'] }}">
            {% else %}
                <pre><code class="snippet-container">
            {% endif %}     
{{ post["content"] }}
            </code></pre>
            <div class="description-outer">
                <div class="description-inner">
                    {{ post["description"] }}
                </div>
            </div>
        </div>
        <div class="post-footer">
            <div class="post-footer-left">
                <div class="voting-buttons-container">
                    <a href="/upvote/{{ post['id'] }}"><i data-feather="arrow-up"></i></a>
                    {{ post["votes"] }}
                    <a href="/downvote/{{ post['id'] }}"><i data-feather="arrow-down"></i></a>
                </div>
            </div>
            <div class="post-footer-center">
                <p class="publisher-name">{{ id2username( post["publisher_id"] ) }}</p>
            </div>
            <div class="post-footer-right">
                <div class="publication-date-container">
                    <p>published on {{ post["pub_date"] }}</p>
                </div>
            </div>
        </div>
    </div>
    <div id="comments" class="container">
        {% if authorized %}
            <div class="comment-box">
                <form action="{{ url_for('comment', post_id=post['id'], comment_id=0)}}" method="post">
                    <textarea name="comment" class="comment-textarea" rows="5"></textarea>
                    <div class="comment-box-footer">
                        <p>Commenting as {{ user }}</p>
                        <input type="submit" value="Comment">
                    </div>
                </form>
            </div> 
        {% elif not authorized %}
            <p>You need to be logged in to comment</p>
        {% endif %}
        {% for comment in comments %}
            <p>{{ comment["content"] }}</p>
        {% endfor %}
    </div>
</div>
{% endblock body %}