{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/submit.css">
{% endblock css %}

{% block body %}
<div id="submit-container">
    <div id="page-title" class="center">
        <h1>Share snippets</h1>
    </div>
    <div id="snippet-editor">
        <form id="editor-form" action="{{ url_for('share_snippet') }}" method="post">
            <div id="title-input-container" class="center">
                <input type="text" id="title-input" name="title" placeholder="Title" class="widget">
            </div>
            <div id="snippet-input-container" class="center">
                <textarea id="snippet-input" name="snippet" placeholder="Code goes here..." class="widget"></textarea>
            </div>
            <div id="description-input-container" class="center">
                <textarea id="description-input" name="description" placeholder="Description" class="widget"></textarea>
            </div>
            <div id="language-dropdown-container" class="center">
                <select id="language-dropdown" name="language" class="widget">
                    <option value="auto">auto detect language</option>
                </select>
            </div>
        </form>
    </div>
    <div id="submit-and-preview" class="center">
        <button id="preview-button" class="button1">Preview</button>
        <button id="post-button" class="button2">Post</button>
    </div>
</div>



{% endblock body %}

{% block scripts %}
<script src="/static/js/submit.js"></script>
{% endblock scripts %}